@media screen and ( max-width:1300px)
  .nav
    &__item
      margin-right: 1.5rem
@media screen and ( max-width:1200px)
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
  #userCheckbox-error
    left: 240px
    top: 43px 
  #footerCheckbox-error
    left: 285px
    top: 315px
  .clients
    &__card
      &__image
        margin-right: 1.342rem
      &-upper
        &__heading
          font-size: 1rem
      &-lower
        min-height: 25rem
@media screen and ( max-width:1080px)
  .clients
    &__card
      &__image
        margin-right: 1.142rem
      &-lower
        min-height: 28rem
      &__button
        &__square
          font-size: 1rem
          padding: 1.219rem 0 1.246rem 0rem
          &__image
            padding: 0.785rem 1.099rem 0.832rem 0rem
@media screen and ( max-width:992px)
  html
    font-size: 10px
  .nav
    &__item
      display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
  .footer__map>iframe 
    max-height: 400px
  .footer
    &__block
      min-height: 573px
  .button:hover
    cursor: auto
  .button--primary:hover
    box-shadow: 0px 5px 15px rgba($primary, 0.2s)
  #userCheckbox-error
    left: 200px
    top: 43px 
  #footerCheckbox-error
    left: 240px
    top: 275px

@media screen and ( max-width:920px)
  .row
    flex-direction: column
    align-items: center
  .swiper
    &-pagination
      margin-left: 30px
      margin-bottom: 2px
    &-button 
      &-prev 
        margin-left: 30px
      &-next 
        margin-left: 30px
    &__mobile 
      width: 100%
      &__image 
        margin-top: 2.85rem
    &-slide
      &__heading
        font-size: 1rem
  .types 
    padding-top: 2rem
    &__card
      margin-bottom: 5.642rem
  .designs 
    padding-bottom: 0
    margin-top: 0
    &__card
      margin-bottom: 8rem
  .team
    margin-top: -2px
    padding-bottom: 0
    padding-top: 0
    &__card
      margin-bottom: 11.93rem
      &--madia
        margin-bottom: 0
  .clients
    &__card
      margin-bottom: 8rem
      &-upper
        &__heading
          font-size: 1.285rem
          max-width: 150px
      &-lower
        min-height: 22rem
@media screen and ( max-width:760px)
  html
    font-size: 12px
  .row
    flex-direction: column
    align-items: center
  .types 
    padding-top: 5.92rem
    &__card
      margin-bottom: 5.642rem
  .card
    &__text
      margin-left: 0
  
  #userCheckbox-error
    left: 20px
    top: 43px 
  #footerCheckbox-error
    left: 105px
    top: 405px
  em.invalid
    position: absolute
    bottom: -27px
    left: 0
    width: 100%
  .swiper
    &-pagination
      margin-left: 30px
      margin-bottom: 2px
    &-button 
      &-prev 
        margin-left: 30px
      &-next 
        margin-left: 30px
    &__mobile 
      width: 100%
      &__image 
        margin-top: 2.85rem
    &-slide
      &__heading
        font-size: 1rem
@media screen and ( max-width:760px)
  .row 
    flex-direction: column
    align-items: center
  .designs 
    padding-bottom: 0
    &__card
      margin-bottom: 8rem
  .card
    &__text
      margin-left: 0
  .projects
    position: relative
    padding-bottom: 0
  .section
    &-title
      &__word
        display: block
        &::after
          display: none
      &__text
        max-width: 80%
  .col
    &-25
      z-index: 10
      &--top 
        margin-top: 33px
  .control
    background-color: $dark
    padding-bottom: 0
    margin-top: -2px
    color: $light
    &__section-title
      margin-top: 0
    &__input-group
      order: -4
      margin-bottom: 4.5rem
    &__form
      display: flex
      justify-content: center
      flex-direction: column
      max-width: 80%
      margin: auto
    &__input
      color: $light
    &__policy
      order: -3
      margin-top: -20px
      margin-bottom: 8.1rem
      &-label
        justify-content: start
    &__button
      margin-bottom: -22px
  .team
    margin-top: -2px
    padding-bottom: 0
    padding-top: 0
    background-color: $dark
    color: $light
    &__card
      margin-bottom: 11.93rem
      &--madia
        margin-bottom: 0
    &-text
      display: none
  .section
    &-title
      &__heading
        &--dark
          color: $light
    &-text 
      color: $light
  .clients
    display: none
  .footer__map>iframe 
    max-height: 350px
  .footer
    margin-top: -92px
    padding-bottom: 2rem
    padding-top: 100px
    background-image: none
    background-color: $dark
    &__block
      position: relative
      min-height: 540px
    &__wrap
      width: 100%
      background-color: $dark
      margin-top: 0
    &__form
      display: block
    &__button
      width: 100%
    &__map
      position: absolute
      top: 0
      left: 0
      right: 0
      margin-bottom: 0
      min-height: 18.214rem
    &__info
      position: absolute
      bottom: 0
      left: 0
      right: 0
    &__menu
      display: none
  .policy
    &__label
      &--center
        justify-content: start

@media screen and ( max-width:570px)
  .contacts
    &__phone
      margin-right: 0
      text-decoration: none
      color: $light
    &__button
      display: none
  .title
    font-size: 1.64rem
  .hero
    &__scroll-down
      display: none
    &__content
      max-width: 22.86rem
    &__text
      font-size: 1.29rem
      margin-bottom: 2.28rem
    &__button
      display: block
      min-width: 22.86rem
      margin-bottom: 1.85rem
  .control
    &__video
      min-height: 270px
  .footer
    &__block
      min-height: 520px
  #footerCheckbox-error
    left: 50px
    top: 405px
@media screen and ( max-width:520px)
  .hero
    &__scroll-down
      display: none
  /** .col
    &-50
      max-width: 100%
      margin: 0 auto
      &--top 
        margin-top: 33px **/
  .section
    &-title
      &__text
          max-width: 90%
  .control
    &__form
      max-width: 100%
    &__video
      max-width: 400px
      min-height: 250px
  .footer__map>iframe 
    max-height: 350px
  .footer
    &__map
      position: absolute
      top: 0
      left: 0
      right: 0
      margin-bottom: 0
    &__block
      min-height: 520px
@media screen and ( max-width:480px)
  .footer__map>iframe 
    max-height: 300px
  .footer
    &__block
      min-height: 495px
    &__info
      &__description  
        font-size: 1.285rem
@media screen and ( max-width:405px)
  .footer
    &__block
      min-height: 450px
    &__info
      &__description  
        font-size: 1.14rem
  .footer__map>iframe 
    max-height: 250px
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) 
  .hero
    &__scroll-down
      position: absolute
      z-index: 3
      display: flex
      justify-content: center
      align-items: center
      left: 0
      bottom: 0
      min-width: 17.64rem
      min-height: 6.92rem
      background-color: $dark
      text-decoration: none
      text-transform: uppercase
      color: $light
      font-family: Yeseva One
      font-style: normal
      font-weight: normal
      font-size: 12px
      line-height: 138.6%
      padding-top: 33px
      &::after
        content: ""
        position: absolute
        top: 25px
        right: 25px
        background: url(../img/errow_down.svg) no-repeat center
        width: 30px
        height: 30px
        border: 2px solid $primary
        border-radius: 50%
  .section
    &-title
      &__word
        display: flex
        align-items: center
        &::after
          content: ""
          position: absolute
          bottom: -100px
          width: 90px
          height: 2px
          background-color: $primary
          margin-left: 2rem 
  